{% if app.session.flashBag|length > 0 %}
    <div id="flash">
    {% for label, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <span class="close">x</span>
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
{% endif %}