{% if app.flashes is defined %}
    <div id="flash">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}}">
                <span class="close">x</span>
                {{message}}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
{% endif %}