    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                DBUniverse - MMORPG Dragon Ball
            {% endblock %}
        </title>

        {% include 'template/css.html.twig' %}

        {% include 'template/seo.html.twig' %}
    </head>