    <head>
        <meta charset="UTF-8">
        <title>
            {% set subTitle = "DBUniverse - MMORPG Dragon Ball" %}
            {% block title %}{% endblock %} {{ subTitle }}
        </title>

        {% include 'template/css.html.twig' %}

        {% include 'template/seo.html.twig' %}
    </head>