<nav class="nav flex-column" id="navbar-left">
    <a href="" class="nav-link nav-aventure"></a>
    <a href="{{ path('index') }}" class="nav-link nav-accueil"></a>
    <a href="{{ path('game.character') }}" class="nav-link nav-personnage"></a>
    <a href="" class="nav-link nav-capsule"></a>
    <a href="" class="nav-link nav-message"></a>
    <a href="" class="nav-link nav-option"></a>
    <a href="" class="nav-link nav-forum"></a>
    <a href="" class="nav-link nav-team"></a>
</nav>