/** CAPSULE CORP **/
#capsule-corp {
  background: url('#{$pathImage}/capsulecorp/background.png');
  width: 800px;
  height: 805px;

  .introduction {
    width: 320px;
    margin-top: 4%;
    margin-left: 13%;
    text-align: justify;
    color: black;
  }

  #list {
    > .shop-container {
      height: 475px;
    }

    #capsules-rouge {
      width: 450px;
    }
    
    #capsules-jaune {
      width: 710px;
      height: 280px;
    }
    .capsule {
      .slug {
        font-size: 14px;
      }

      .stat {
        display: none;
      }

      :hover {
        .stat {
          display: block;
        }
      }
    }
  }
}