<div class="navbar navbar-expand-lg justify-content-between" id="menu">
    <a class="" href="{{ path('index') }}" id="logo"></a>

    <a class="lien lien-perso" href="#"></a>
    <a class="lien-combat" href="#"></a>
    <a class="lien-carte" href="#"></a>
    <a class="lien-top" href="#"></a>
    <a class="logout" href="{{ path('logout') }}"></a>
</div>