/**
    B O D Y
 */

body
{
    background: url("../images/background.png")!important;
    min-width: 565px;
    max-width: 100%;
    height: 10px;
    overflow: auto;
}

/**
    N A V B A R
        T O P
 */

#menu
{
    background: url("../images/top/background_top.png");
    height: 51px;
}

#logo
{
    background: url("../images/logo_petit.png");
    width: 144px;
    height: 56px!important;
    z-index:999;
}

.lien-perso
{
    background: url("../images/top/personnage.png");
    width: 150px;
    height: 35px;
}

.lien-combat
{
    background: url("../images/top/combat.png");
    width: 117px;
    height: 35px;
}

.lien-carte
{
    background: url("../images/top/carte.png");
    width: 80px;
    height: 35px;
}

.lien-top
{
    background: url("../images/top/top.png");
    width: 59px;
    height: 34px;
}

.logout
{
    background: url("../images/top/deconnexion.png");
    width: 45px;
    height: 45px;
}

.info-player-online
{
    color: #fff;
}

.info-player-online span
{
    font-weight: bold;
}

/**
    N A V B A R
        L E F T
 */

#navbar-left
{
    margin-top: 5px;
    background: url("../images/nav/background_2.png") no-repeat;
    width: auto;
    height: 652px;
    position: fixed;
    top: 45px;
    left: -1px;
}

#navbar-left a {
    margin-bottom: 14px;
    margin-left: 5px;
}


#navbar-left .nav-aventure
{
    background: url("../images/nav/aventure.png");
    width: 198px;
    height: 46px;
    position: relative;
    top: 5px;
    margin-bottom: 15px;
}

#navbar-left
{
    position: relative;
    top: -7px;
}

.lien-nav
{
    margin-top: 5px;
    margin-left: 5px;
}

.nav-accueil
{
    background: url("../images/nav/accueil.png");
    width: 207px;
    height: 62px;
    margin-top: 20px;
}

.nav-accueil:hover
{
    background: url("../images/nav/accueil_hover.png");
    width: 207px;
    height: 62px;
}

.nav-personnage
{
    background: url("../images/nav/personnage.png");
    width: 207px;
    height: 62px;
}

.nav-personnage:hover
{
    background: url("../images/nav/personnage_hover.png");
    width: 207px;
    height: 62px;
}

.nav-capsule
{
    background: url("../images/nav/capsule.png");
    width: 207px;
    height: 62px;
}

.nav-capsule:hover
{
    background: url("../images/nav/capsule_hover.png");
    width: 207px;
    height: 62px;
}

.nav-message
{
    background: url("../images/nav/message.png");
    width: 207px;
    height: 62px;
}

.nav-message:hover
{
    background: url("../images/nav/message_hover.png");
    width: 207px;
    height: 62px;
}

.nav-message-new
{
    background: url("../images/nav/message_new.png");
    width: 207px;
    height: 62px;
}

.nav-message-new:hover
{
    background: url("../images/nav/message_new_hover.png");
    width: 207px;
    height: 62px;
}

.nav-option
{
    background: url("../images/nav/option.png");
    width: 207px;
    height: 62px;
}

.nav-option:hover
{
    background: url("../images/nav/option_hover.png");
    width: 207px;
    height: 62px;
}

.nav-forum
{
    background: url("../images/nav/forum.png");
    width: 207px;
    height: 62px;
}

.nav-forum:hover
{
    background: url("../images/nav/forum_hover.png");
    width: 207px;
    height: 62px;
}

.nav-team
{
    background: url("../images/nav/team.png");
    width: 207px;
    height: 62px;
}

.nav-team:hover
{
    background: url("../images/nav/team_hover.png");
    width: 207px;
    height: 62px;
}

/**
    C U S T O M
        button
        input
 */

#menu button
{
    color: #fff!important;
    background: linear-gradient(#64819f, #94afcb);
    border: 1px solid white!important;
    border-radius: 8px!important;
    box-shadow: 1px 1px 8px #64819f!important;
    margin-top: 20px;
}

#menu button::placeholder, #menu input::placeholder
{
    color: #fff;
}

#menu input, #menu select, #menu .button
{
    color: #fff!important;
    background: linear-gradient(#64819f, #94afcb);
    border: 1px solid white;
    border-radius: 8px!important;
    box-shadow: 1px 1px 8px #64819f;
}

/**
    I N S C R I P T I O N
 */

#inscription
{
    margin: 0 auto;
    background: url("../images/register/background_full.png") no-repeat center;
    width: 886px;
    height: 393px;
}

.text-inscription
{
    width: 340px;
    position: relative;
    top: 70px;
    left: 450px;
}

.text-inscription label
{
    display: block;
    float: left;
    width: 175px;
}

.text-inscription label, .text-inscription input
{
    margin-top: 5px;
}

.text-inscription input[type=submit]
{
    float: right;
    margin-right: 45px;
}

#inscription-content
{
    width: 55%;
}

span.error { color: red; }
span.success { color: green; }

span.error, span.success
{
    display: block;
    margin-top: 40px;
    width: auto;
}


#current-character
{
    background: url("../images/perso_en_cours/background.png");
    width: 190px;
    height: 466px;
    text-align: center;
}

#current-character .avatar
{
    position: relative;
    left: 28px;
    top: 27px;
    width: 133px;
    height: 179px;
}

#current-character .avatar img { border-top-left-radius:8px; border-top-right-radius: 8px; }

#current-character .detail-character
{
    margin-top: 25px;
}

#current-character .detail-character .name
{
    color: #ffeb9e;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
}

#current-character .detail-character .level > span,
#current-character .detail-character .experience > span,
#current-character .detail-character .zenis > span
{
    font-weight: bold;
}

#current-character .detail-character .nextLevel
{
    margin: 0 auto;
}

#current-character .detail-character .cut
{
    border-bottom: 2px solid black;
    margin: 4px 0 8px 0;
}

#current-character .barre-experience, #current-character .progression
{
    display: block;
    height: 10px;
    width: 140px;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

#current-character .barre-experience
{
    background-color: white;
    margin: 0 0 5px;
    border: 1px solid #A7580C;

    -moz-box-shadow: 1px 1px 4px #A7580C;
    -webkit-box-shadow: 1px 1px 4px #A7580C;
    -o-box-shadow: 1px 1px 4px #A7580C;
    box-shadow: 1px 1px 4px #A7580C;
}

#current-character .progression
{
    background-color: #EFA544;
    border-right: 1px solid orange;
}

#current-character .percent
{
    color: black;
    display: block;
    text-align: center;
    font-size: 10px;
}



#info-character
{
    background: url("../images/info_perso/background.png");
    width: 840px;
    height: 510px;
}


/**
    R E S P O N S I V E
 */

@media (max-width: 991px)
{
    .navbar
    {
        padding: 0 0!important;
        margin: 0!important;
    }
}