<!DOCTYPE html>
<html>
{% include 'template/header.html.twig' %}


<body>
    {% include 'template/menu.html.twig' %}
    {% include 'template/flash.html.twig' %}
    <div class="d-flex justify-content-between mr-4">
        {% if is_granted('ROLE_USER') %}
            {% include 'template/navbar-left.html.twig' %}
        <div class="mt-3">
        {% endif %}

            {% block body %}
            {% endblock %}

        {% if is_granted('ROLE_USER') %}
        </div>
            {% include 'template/current-character.html.twig' %}
        {% endif %}
    </div>

    {% include 'template/footer.html.twig' %}
    {% include 'template/js.html.twig' %}
    {% block javascripts %}
    {% endblock %}
</body>
</html>

