<!DOCTYPE html>
<html>
{% include 'template/header.html.twig' %}


    <body>
    {% include 'template/menu.html.twig' %}
    {% include('template/flash.html.twig') %}
    {% block body %}
        {% include('template/index.html.twig') %}
    {% endblock %}
    </body>

{% include 'template/footer.html.twig' %}

{% include 'template/js.html.twig' %}

{% block javascripts %}
{% endblock %}
</html>
