/**
    F L A S H  -  M E S S A G E S
 */

#flash {
  display: none;
  position: absolute;
  top: 10%;
  left: 33%;
  width: 33%;
  max-height: 50%;
  z-index: 9999;

  .alert .close {
    cursor: pointer;
  }
}