/** VARIABLES **/
@import "layout/variable";


/** BODY **/

body
{
  background: url("#{$pathImage}/background.png")!important;
  min-width: 565px;
  max-width: 100%;
  height: 10px;
  overflow: auto;
}

span.error { color: red; }
span.success { color: green; }

span.error, span.success
{
  display: block;
  margin-top: 40px;
  width: auto;
}

/** TEMPLATE **/

@import "layout/header";
@import "layout/flash";
@import "layout/list-character";
@import "layout/navbar";
@import "layout/current-character";


@import "page/register";
@import "page/character";
@import "page/map";
@import "page/action-map/capsule-corps";